/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fdfdfd;
    line-height: 1.6;
}

/* Header */
.header {
    background-color: #ff6b81;
    color: white;
    padding: 15px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

/* Header Logo */
.header-logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header-logo img {
    width: 200px;
    height: auto;
    margin-right: 5px;
}

.header h1 {
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin: 0;
}

.header nav ul {
    list-style: none;
    display: flex;
}

.header nav ul li {
    margin-left: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.header nav ul li a:hover {
    text-decoration: underline;
}

/* Section Description */
.description {
    background-color: #e4f0f7;  
    padding: 50px 0;
    text-align: left;
}

.description .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.description-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.description-image img {
    width: 300px;
    height: 300px;
    max-width: 70%;
    max-height: auto;
    border-radius: 8px;
}

.description-text {
    flex: 1;
    padding-left: 20px;
}

.description-text p {
    font-family: 'Georgia', serif;
}

.description-text h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: Catamaran, sans-serif;
    font-size: 10px;
    display: inline-block;
    white-space: nowrap;
}

/* Matières de la 4ème */
.matieres {
    background-color: #eaf9e7;  
    padding: 50px 0;
    text-align: center;
}

.matieres h2 {
    font-family: Catamaran, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
}

.matieres p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #333;
}

/* Conteneur des cartes de matières */
.matiere-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Carte de matière */
.matiere-card {
    background-color: #fff;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.matiere-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.matiere-icon {
    margin-bottom: 15px;
}

.matiere-icon img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.matiere-card:hover .matiere-icon img {
    transform: scale(1.2);
}

.matiere-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff6b81;
    font-family: 'Playfair Display', serif;
}

.matiere-card p {
    font-size: 1rem;
    color: #666;
}

/* Galerie d'Images */
.container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
.container p{
    font-family: 'Georgia', serif;
}
.galerie {
    background-color: #f1f3f5; 
    padding: 50px 0;
    overflow: hidden; 
}

.gallery-container {
    display: flex;
    justify-content: flex-start;
    overflow: hidden; 
    width: 100%;
    position: relative;
}

.gallery-slide {
    display: flex;
    width: calc(300vw); 
    animation: slide 20s infinite cubic-bezier(0.25, 0.1, 0.25, 1); 
}

.gallery-slide img {
    width: 80vw; 
    max-width: 450px; 
    height: auto; 
    border-radius: 8px;
    transition: transform 0.5s ease; 
    margin: 0 10px;
}

.gallery-slide img:hover {
    transform: scale(1.05); 
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100vw); } 
    66% { transform: translateX(-200vw); } 
    100% { transform: translateX(0); }
}

/* Activités */
.activites {
    background-color: #fff5e5;  
    padding: 50px 0;
}

.activites h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.activites-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.activite {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}

.activite:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.activite img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.activite h3 {
    margin-bottom: 10px;
    color: #ff6b81;
    font-family: 'Playfair Display', serif;
}
.activite p{
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

/* Plan d'études */
.plan-etudes {
    background-color: #f0f8ff; 
    padding: 50px 0;
    text-align: center;
}

.plan-etudes h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: black;
    margin-bottom: 40px;
}

/* Conteneur des cartes de programme éducatif */
.etudes-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

/* Carte de chaque programme éducatif */
.etude {
    background-color: #fff;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.etude:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.etude h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff6b81;
    font-family: 'Playfair Display', serif;
}

.etude p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.button {
    background-color: #ff6b81;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #ff4f66;
}

/* Footer */
.footer {
    background-color: #fa73a0;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.footer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-left .footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-left .footer-logo img {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

.footer-left h3 {
    font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.footer-left .social-media {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.footer-left .social-media img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-right ul {
    list-style: none;
    padding-left: 0;
}

.footer-right li {
    margin-bottom: 8px;
}

.footer-bottom {
    text-align: center;
    padding: 15px 0;
    background-color: #222;
    margin-top: 40px;
}

.footer-bottom small {
    margin: 0;
    font-size: 1rem;
}
