body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-color: #ffece1;
    color: #333;
}
 /* Navbar */
 nav {
    background-color: #ff7043;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
}
nav a:hover {
    text-decoration: underline;
}


/* Header */
header {
    background-color: #ff8c66;
    color: white;
    text-align: center;
    padding: 15px;
}
header h1 {
    font-size: 2.5em;
}

/* Section Styling */
.lessons-section {
    text-align: center;
    margin: 30px auto;
}
.lessons-section h2 {
    color: #cc5b33;
    margin-bottom: 10px;
}
.grade-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.grade-card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}
.grade-card h3 {
    color: #ff7043;
    margin-bottom: 10px;
}
.grade-card p {
    margin-bottom: 20px;
    font-size: 1em;
    color: #666;
}
.grade-card button {
    background-color: #ff8c66;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.grade-card button:hover {
    background-color: #cc5b33;
}

